LoadModule php__MAJORVERSION___module    /usr/local/opt/__VERSION__/libexec/apache2/libphp__MAJORVERSION__.so

<IfModule php__MAJORVERSION___module>
	AddType application/x-httpd-php .php
	AddType application/x-httpd-php-source .phps

	<IfModule dir_module>
		DirectoryIndex index.html index.php
	</IfModule>
</IfModule>
